#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}

#btncontainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    background-color: #bd4545;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: #000000;
}